Repository KojoDesign/astro-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: biome lint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["biome lint", "prettier --write"],
  "*.{html,postcss,css}": "prettier --write"
}

fix(*): fix build
  .gitignore
  astro.config.mjs
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
Due: none

fix(lint): fix lint config
  .lintstagedrc.json
Due: none

change Icons from astro-icon to unplugin-icons
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

feat(*): add postcss easings plugin
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
Due: none

fix(*): add additional files to lintstaged
  .lintstagedrc.json
  src/components/BaseHead.astro
Due: none

feat(*): add robots.txt and Preload component
  astro.config.mjs
  src/components/BaseHead.astro
  src/components/Preload.astro
  src/pages/robots.txt.ts
Due: biome lint, prettier --write

chore(*): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat(*): add Rive component
  astro.config.mjs
  biome.json
  package.json
  pnpm-lock.yaml
  src/components/Rive.tsx
  src/consts.ts
  src/env.d.ts
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: biome lint, prettier --write

fix(*): generalize site name
  src/consts.ts
  src/layouts/BlogLayout.astro
Due: biome lint, prettier --write

feat(*): replace framer-motion with motion
  package.json
  pnpm-lock.yaml
  src/components/MotionProvider.tsx
  src/components/Rive.tsx
  src/components/ui/Grid.tsx
  src/components/ui/Stack.tsx
Due: biome lint, prettier --write

chore(*): update deps
  package.json
  pnpm-lock.yaml
Due: none

wip
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/styles/global.css
Due: prettier --write

wip
  src/components/ui/Stack.tsx
  src/pages/index.astro
  src/plugins/material-typography.ts
  src/styles/global.css
Due: biome lint, prettier --write

fix(build): fix unplugin-icon integration
  astro.config.mjs
Due: none

docs(*): started writing docs
  README.md
  docs/best-practices.md
  docs/fonts.md
  docs/icons.md
  docs/shadcn.md
  docs/tailwind.md
  package.json
  pnpm-lock.yaml
  src/components/BaseHead.astro
  src/components/Preload.astro
  src/components/ui/Typography.tsx
  tailwind.config.ts
Due: biome lint, prettier --write

docs(*): mention pnpm
  README.md
Due: none

fix(tailwind): extend the default border radius
  tailwind.config.ts
Due: biome lint, prettier --write

fix(Typography): add default tag variant
  src/components/ui/Typography.tsx
Due: biome lint, prettier --write

fix
  .vscode/settings.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/content/config.ts
  src/plugins/material-typography.ts
  src/styles/global.css
Due: biome lint, prettier --write

feat(*): upgrade to Tailwind 4 beta (#1)
  .vscode/settings.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/components/ui/Stack.tsx
  src/content/config.ts
  src/pages/index.astro
  src/styles/global.css
Due: biome lint, prettier --write

fix: fix Astro type errors
  package.json
  pnpm-lock.yaml
  src/components/MotionProvider.tsx
  src/pages/blog/[...slug].astro
  src/pages/blog/rss.xml.ts
Due: biome lint, prettier --write

fix: remove unused deps
  package.json
  pnpm-lock.yaml
  src/components/BaseHead.astro
  src/styles/global.css
  tailwind.config.ts
Due: biome lint, prettier --write

feat: add gradient border component
  src/components/GradientBorder.tsx
Due: biome lint, prettier --write

feat: add NavigationMenu and Sheet
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/MotionProvider.tsx
  src/components/ui/Carousel.tsx
  src/components/ui/GradientBorder.tsx
  src/components/ui/NavigationMenu.tsx
  src/components/ui/Sheet.tsx
  src/icons.ts
  src/styles/global.css
Due: biome lint, prettier --write

feat: add InView and update colors
  src/components/InView.astro
  src/layouts/BaseLayout.astro
  src/styles/global.css
Due: prettier --write

fix: update NavigationMenu API
  src/components/ui/NavigationMenu.tsx
Due: biome lint, prettier --write

fix: remove max dimensions from sheet
  src/components/ui/Sheet.tsx
Due: biome lint, prettier --write

fix: update sheet cursors
  src/components/ui/NavigationMenu.tsx
  src/components/ui/Sheet.tsx
Due: biome lint, prettier --write

docs: update README
  README.md
Due: none

Update README.md
  README.md
Due: none

feat: add navigation components
  package.json
  pnpm-lock.yaml
  src/components/ui/Accordion.tsx
  src/components/ui/NavigationBar.tsx
  src/components/ui/NavigationMenu.tsx
  src/components/ui/Sheet.tsx
  src/fragments/ExampleNavigation.tsx
  src/hooks/useMediaQuery.ts
  src/icons.ts
  src/layouts/BaseLayout.astro
  src/layouts/PageLayout.astro
  src/pages/index.astro
  src/styles/global.css
Due: biome lint, prettier --write

feat: update deps and animation fixes
  package.json
  pnpm-lock.yaml
  src/layouts/PageLayout.astro
  src/pages/index.astro
  src/styles/animate.css
  src/styles/global.css
  src/styles/theme.css
  src/styles/utilities.css
Due: prettier --write

feat: add docs and update deps
  README.md
  docs/images.md
  docs/motion.md
  docs/rive.md
  docs/shadcn.md
  docs/tailwind.md
  mise.toml
  package.json
  pnpm-lock.yaml
  src/lib/units.ts
  src/lib/utils.ts
Due: biome lint, prettier --write

feat: add Cline memory bank
  memory-bank/.clinerules
  memory-bank/activeContext.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Due: none

fix: fix build
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/components/Rive.tsx
  src/consts.ts
Due: biome lint, prettier --write

feat: add robot and favicon generator
  astro.config.mjs
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: biome lint, prettier --write

feat: add Storybook and GradientIcon
  .gitignore
  .prettierrc.mjs
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  biome.json
  package.json
  pnpm-lock.yaml
  src/components/ui/GradientIcon.stories.tsx
  src/components/ui/GradientIcon.tsx
  src/styles/animate.css
  src/styles/global.css
  vitest.config.ts
  vitest.shims.d.ts
Due: biome lint, prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none
