Repository KojoDesign/astro-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: biome lint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,mjs,tsx}": ["biome lint", "prettier --write"],
  "*.{html,postcss,css,json}": "prettier --write"
}

fix: remove redundant animate classes
  src/styles/theme.css
Due: prettier --write

feat: upgrade deps and update Storybook impl
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  .storybook/preview.tsx
  .vscode/settings.json
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/stories/GradientIcon.stories.tsx
Due: biome lint, prettier --write

fix: update Carousel implementation
  src/components/ui/Carousel.tsx
  src/styles/theme.css
Due: biome lint, prettier --write

feat: add utilities
  src/styles/utilities.css
Due: prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update animate utility
  src/styles/utilities.css
Due: prettier --write

fix: update InView implementation
  src/components/InView.astro
Due: none

feat: add link component
  src/components/ui/Button.tsx
  src/components/ui/Link.tsx
Due: biome lint, prettier --write

feat: switch to Bun and other adjustments
  bun.lock
  mise.toml
  package.json
  pnpm-lock.yaml
  scripts/add-component.ts
  src/components/ui/Carousel.tsx
  src/lib/utils.ts
  src/styles/theme.css
  vitest.config.ts
  vitest.shims.d.ts
Due: biome lint, prettier --write

chore: update dependencies
  bun.lock
  package.json
  src/components/ui/GradientIcon.tsx
Due: biome lint, prettier --write

fix: carousel
  src/components/ui/Carousel.tsx
  src/styles/theme.css
Due: biome lint, prettier --write

fix: update dependencies and move to oxlint
  .husky/pre-commit
  .lintstagedrc.json
  .oxlintrc.json
  .prettierrc.mjs
  .vscode/settings.json
  astro.config.ts
  biome.json
  bun.lock
  package.json
  scripts/add-component.ts
  src/components/BaseHead.astro
  src/components/ui/Animated.tsx
  src/components/ui/Carousel.tsx
  src/styles/theme.css
  tsconfig.json
Due: biome lint, prettier --write

feat: update components
  bun.lock
  components.json
  package.json
  src/components/ui/Accordion.tsx
  src/components/ui/Button.tsx
  src/components/ui/Carousel.tsx
  src/components/ui/Grid.tsx
  src/components/ui/Link.tsx
  src/components/ui/Marquee.tsx
  src/styles/global.css
  src/styles/theme.css
Due: biome lint, prettier --write

chore(*): update dependencies
  bun.lock
  package.json
Due: prettier --write

fix: fix grid
  src/components/ui/Grid.tsx
Due: biome lint, prettier --write

feat(*): move to Base UI and update components
  bun.lock
  components.json
  mise.toml
  package.json
  src/components/Navigation.tsx
  src/components/ui/Animated.tsx
  src/components/ui/Button.tsx
  src/components/ui/GradientBorder.tsx
  src/components/ui/Grid.tsx
  src/components/ui/Link.tsx
  src/components/ui/NavigationBar.tsx
  src/components/ui/NavigationMenu.tsx
  src/components/ui/Sheet.tsx
  src/components/ui/Stack.tsx
  src/fragments/ExampleNavigation.tsx
  src/hooks/useIsScrolling.ts
  src/layouts/PageLayout.astro
  src/lib/utils.ts
  src/styles/global.css
  src/styles/utilities.css
Due: biome lint, prettier --write

fix: update AI files and docs
  CLAUDE.md
  README.md
  docs/fonts.md
  docs/icons.md
  docs/shadcn.md
  docs/tailwind.md
  memory-bank/.clinerules
  memory-bank/activeContext.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
  package.json
Due: prettier --write

feat(*): add border-hairline utility
  bun.lock
  package.json
  src/styles/global.css
  src/styles/utilities.css
Due: prettier --write

wip
  astro.config.ts
  src/components/Navigation.tsx
  src/components/base-head.astro
  src/components/formatted-authors.astro
  src/components/formatted-date.astro
  src/components/in-view.astro
  src/components/ui/Grid.tsx
  src/components/ui/Link.tsx
  src/components/ui/gradient-border.tsx
  src/components/ui/gradient-icon.tsx
  src/content.config.ts
  src/content/config.ts
  src/data/seo/basic.yml
  src/data/seo/og.yml
  src/data/seo/x.yml
  src/hooks/use-is-scrolling.ts
  src/hooks/use-media-query.ts
  src/layouts/BlogLayout.astro
  src/layouts/PageLayout.astro
  src/live.config.ts
  src/loaders/stripe.ts
  src/pages/index.astro
  src/stories/GradientIcon.stories.tsx
Due: biome lint, prettier --write

wip
  astro.config.ts
  bun.lock
  package.json
  scripts/add-component.ts
  src/assets/me.png
  src/components/Preload.astro
  src/components/base-head.astro
  src/components/head/fonts.astro
  src/components/head/head.astro
  src/components/head/index.ts
  src/components/head/meta.astro
  src/components/head/types.ts
  src/components/head/utils.ts
  src/consts.ts
  src/content.config.ts
  src/data/seo.yml
  src/data/seo/basic.yml
  src/data/seo/og.yml
  src/data/seo/x.yml
  src/layouts/BaseLayout.astro
  src/layouts/PageLayout.astro
  src/layouts/base-layout.astro
  src/layouts/blog-layout.astro
  src/layouts/page-layout.astro
  src/lib/content.ts
  src/live.config.ts
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/robots.txt.ts
  src/styles/global.css
  src/styles/theme.css
  src/styles/utilities.css
Due: biome lint, prettier --write

wip
  .husky/pre-commit
  .lintstagedrc.json
  .oxlintrc.json
  .prettierrc.mjs
  astro.config.ts
  bun.lock
  mise.toml
  package.json
  src/components/ui/Stack.tsx
  src/components/ui/Typography.tsx
  src/consts.ts
  src/env.d.ts
  src/layouts/blog-layout.astro
  vite.config.ts
Due: biome lint, prettier --write

wip
  .gitignore
  astro.config.ts
  bun.lock
  package.json
  src/components/head/head.astro
  src/components/head/meta.astro
  src/components/head/types.ts
  src/components/head/utils.ts
  src/components/ui/Typography.tsx
  src/components/ui/heading.tsx
  src/components/ui/paragraph.tsx
  src/layouts/blog-layout.astro
  src/lib/typography.ts
  src/middleware.ts
  src/pages/index.astro
  vite.config.ts
Due: biome lint, prettier --write
